page-login {
    input[type=text]:disabled {
        background: #f0f0f0;
        margin-left: 0 !important;
    }
    input[type=password],input[type=text]{
        width: 100%;
        padding: 10px 20px 10px 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #e8e8e8;
        border: none;
        font-size: 15px;
        border: 1px solid #e8e8e8;
        margin-left: 0 !important;
    }
    input:focus{
        border: 1px solid #00d600;
        background-color: white;
    }
    label{
        margin-bottom: 5px;
        font-size: 15px;
    }
    button.login{
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #00d600;
        font-weight: bold;
        color: white;
        margin-top: 10px;
        font-size: 15px;
    }
    button.register{
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #53a9ff;
        font-weight: bold;
        color: white;
        margin-top: 10px;
        font-size: 15px;
    }
}
.error{
    > div{
        background-color:#dc3545!important;
    }
 }
 .success{
    > div{
        background-color:#28a745!important;
    }
 }
